@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mende+Kikakui&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mende+Kikakui&family=Raleway:wght@600&display=swap');

header
{ 
    background: rgb(88, 158, 182);
    padding: 15px;
    text-align: center;
}

h1
{
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    color: black;
}

button 
{
    width: 9%;
    font-size: 15px;
    background-color: lightblue; 
    color: black;
    cursor: pointer;
    border:none;
}

button:hover
{
    background-color: lightgreen;
}

#container1 
{
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px; 
    background: white;
    text-align: center;
}

#container2
{
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px; 
    background: white;
    text-align: center;
}
   
body
{   
    margin: 0px;
    padding: 0px;
    /* https://i.gifer.com/RS5V.gif */
    background-image: url("home-background.gif");
    font-family: 'Noto Sans Mende Kikakui', sans-serif;
}

h2
{
    display: none;
    font-size: 25px; 
    line-height: 1.8em;
}

label
{
    border: none;
}

img
{ 
    border: none;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 641px) and (max-width: 900px) {
    
    h2
    {
        font-size: 25px; 
        line-height: 1.8em;
    }  
    img
    {
        max-width: 100%;
        margin: auto;
    }
    
}

@media screen and (max-width: 640px) 
{
    img
    {
        max-width: 100%;
        margin: auto;
    }
    button
    {
        width: 45%;
    }
        
    h2
    {
        margin: auto;
        font-size: 25px; 
        line-height: 1.8em;
    }  
}